.header-container {
    background-color: white;
    margin-left: -15px;
    margin-top: -20px;
}

@media (min-width: 561px) {
    .header-container {
        position: fixed;
    }
}

.about-text {
    width: 100vw;
}

@media (min-width: 561px) {
    .about-text {
        display: none;
    }
}

.about-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0d163f;
    width: 100vw;
}

@media (max-width: 560px) {
    .about-list {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #0d163f;
        width: 100vw;
    }
}

.about-list li {
    margin: auto;
}

.about-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 15px 15px 15px;
    text-decoration: none;
}

@media (max-width: 560px) {
    .about-list li a {
        display: block;
        color: white;
        text-align: center;
        padding: 12px 0;
        text-decoration: none;
    }
}

.about-list li a:hover {
    background-color: #152867;
}

.sections {
    text-align: center;
    padding: 170px 100px;
    height: 100vh;
}

@media (max-width: 560px) {
    .sections {
        text-align: center;
        padding: 50px 30px;
        height: auto;
    }
}

.blue-bg {
    width: 100vw;
    margin-left: -15px;
    background-color: #0d163f;
    color: white;
}

.sections h1 {
    padding-bottom: 10px;
}