.navbar--apple .nav-link {
  color: #1b1449 !important;
  font-size: 15px;
  white-space: nowrap;
  font-weight: bold;
}

.navbar--apple .navbar-toggler {
  padding: 0;
  font-size: 1.25rem;
  line-height: 1;
  border: 0;
  border-radius: 0;
}

.navbar--apple .navbar-toggler-icon {
  background-image: none;
  color: black;
  line-height: 2rem;
}

@media (max-width: 576px) {
  .navbar--apple #menu {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 576px) {
  .navbar--apple #menu li a {
    font-size: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
}

.nav-logo {
  width: 250px;
  min-width: 100px;
}

.dropdown-menu {
  display: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
  font-size: 14px;
}

.dropdown-item {
  color: #1b1449 !important;
  text-align: left;
  font-size: 15px;
}

.dropdown-toggle {
  text-align: left;
}

div.main-section {
  height: 100%;
}

.dropdown-item:hover {
  background-color: rgba(0,0,0,0.3);
  cursor: pointer;
}

