.contact-us-banner {
  height: 100%;
  color: white;
  text-align: center;
  padding: 200px 0px 130px 0px;
  background: linear-gradient(to bottom, rgba(216, 203, 194, 0.2) 0%, rgba(34, 33, 32, 0.9) 100%), url("https://res.cloudinary.com/agiletech3itf/image/upload/v1615033145/contact-us-background_qdb7no.jpg");
  background-size: cover;
}

.contact-us-button {
  text-align: center;
  padding: 10px 30px;
}

.row.second-level-row {
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 50px;
}

.col-12.title-section {
  padding: 20px 0;
}

.col-md-6.item-card {
  padding: 20px 10px;
}

.description {
  margin: auto;
  max-width: 450px;
}