body, html {
  height: 100%;
}

div.main-section {
  padding: 50px;
}

.logo {
  min-width: 20px;
  width: 20vw;
  margin: auto;
  padding-top: 120px;
}

.main-text {
  margin-left: -43px;
  padding-bottom: 100px;
}

.product-container {
  display: inline-block;
  width: 100%;
  min-height: 50px;
  height: 350px;
  margin-bottom: 50px;
}

.agile-products-home {
  padding: 50px 10px;
  text-align: center;
}

.our-products-description {
  max-width: 60%;
  margin: auto;
}

@media (max-width: 768px) {
  .our-products-description {
    max-width: 100%;
    margin: auto;
  }
}

.row.services-container {
  height: 350px;
  padding: 30px;
  text-align: center;
}

.our-services-description {
  text-align: center;
  margin: auto;
  color: white;
}